# Java
*.class
*.jar
*.war
*.ear
target/
build/
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Node/React
node_modules/
build/
dist/
.npm/
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
